{% extends "../chapter.html" %}

{% block title %}
chater 1
{% endblock %}

{% block chapter %}
1
{% endblock %}

{% block conclusion %}
・「ランボタンをクリックしたとき」ブロックを必ずおくよ<br>
・「〇歩動かす」ブロックで動きをつけるよ<br>
・「〇秒待つ」ブロックで動きを待たせることができるよ
{% endblock %}

{% block problem %}
・ロボットが話し終えてから動くよ
{% endblock %}

{% block operation %}
<iframe src="https://scratch.mit.edu/projects/376477965/embed" allowtransparency="true" width="410" height="360" frameborder="0" scrolling="no" allowfullscreen></iframe>
{% endblock %}

{% block ansExam %}
<img src="../../static/img/1.png" alt="">
{% endblock %}